.App {
  text-align: center;
}

.myinput{
  margin-top: 20px;
  border: 2px solid blue;
  border-radius: 4px;
  width: 60%;
  padding: 12px 20px;
  box-sizing: border-box;
}

.mybtn{
  align-items: center;
  background-color: #d1d4df;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  margin-left: 10px;
  font-family: Inter,sans-serif;
  font-size: 15px;
  height: 42px;
  font-weight: bold;
}

.mybtn2{
  margin-top: 17px;
  margin-right: 20px;
  align-items: center;
  background-color: #d1d4df;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  margin-left: 10px;
  font-family: Inter,sans-serif;
  font-size: 15px;
  height: 42px;
  font-weight: bold;
  margin-bottom: 30px;
}

.myh3{
  border-left: 15px solid rgb(13, 13, 78);
  background-color: rgb(214, 215, 218);
  margin-top: 10px;
  height: 55px;
  text-align: center;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 15px;
  text-align:center;
  position:relative;
  padding: 16px 360px;
  margin-left: 90px;
  margin-right: 90px;
}